
body{
    width: 100%; 
}
@media (max-width: 560px){
     
}
.navigator {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: rgb(12, 12, 12,0.7);
    font-size: 20px ;
    
}
nav a:hover {
    color: rgb(138, 133, 133);
}

.emblema {
    flex: 1 1 auto;
}
nav a {
    margin: 10px;
    color: white;
    
}
nav a img {
    width: 25px;
}
.symbolWine {
    width: 150px;
}
header {
    width: 100%;
    background: url("//res2.weblium.site/res/60115ce126eea30022ce1a18/6021f6bb4647900021482634_optimized_2560.webp") 62.05% 55.18% / cover no-repeat fixed;
}
.baner {
    padding-right: 10%;
    margin-top: 25%;
    text-align:end;
    
}
h1 {
    font-size: 50px;
    color: white;  
}
.text-h1 {
    font-size: 20px;
    color: white;
}

.button-h1 button {
font-size: 20px;

}
.button-h1 :first-child {
    background-color: rgb(155, 91, 67);
    margin: 30px;
    padding: 15px;
}
.button-h1 :last-child {
    border: 1px solid white;
    background-color: rgb(61, 60, 60, 0);
    color: white;
    margin: 30px;
    padding: 15px; 
}
.buttonHederBue:hover{
    background-color: tomato;
    color: white;
}
.buttonHederMore:hover {
background-color: white;
color: black;
}
.product {
    background-color: rgb(26, 15, 3);
}
.boxproduct div div{
    margin: 10px;
    color: white;
}
.boxproduct div div h3 {
    padding-top: 400px
}
.boxproduct div div a {
    display: block;
padding: 20px;
text-align: center;
color: white;
}
.boxproduct div div span {
    color: gainsboro;
}
.boxproduct{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 560px){
    .boxproduct{
        display: flex;
        flex-direction: column;
    }   
}
.blok-productFirst {   
    background: url("//res2.weblium.site/res/60115ce126eea30022ce1a18/6021fb0c8cf5a00021114094_optimized.webp") 51.81% 95.23% / cover no-repeat;   
}
.blok-productCenter {
    background: url("//res2.weblium.site/res/60115ce126eea30022ce1a18/6021f9aee3861800222375e2_optimized.webp") 94.43% 26.26% / cover no-repeat;
}
.blok-productLast {
   
    background: url("//res2.weblium.site/res/60115ce126eea30022ce1a18/6021f8b338b30b0021c4c638_optimized.webp") 0% 89.38% / cover no-repeat;
}
